<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
  
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/Hotel?useUnicode=true&amp;characterEncoding=UTF-8</property>
        <property name="connection.username">root</property>
        <property name="connection.password">4150504</property>
         
        <!-- configuration pool -->
        <property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.timeout">120</property>
        <property name="automaticTestTable">Test</property>
        <property name="hibernate.c3p0.max_statements">100</property>
        <property name="hibernate.c3p0.idle_test_period">120</property>
        <property name="hibernate.c3p0.acquire_increment">1</property>
        <property name="c3p0.testConnectionOnCheckout">true</property>
        <property name="c3p0.idleConnectionTestPeriod">18000</property>
        <property name="c3p0.maxIdleTime">25000</property>
        <property name="c3p0.idle_test_period">120</property>
        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
 
        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>
 
        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
         
        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">false</property>
         
        <property name="hbm2ddl.auto">validate</property>
  
  		<mapping class="com.hotelbooking.model.City"/>
		<mapping class="com.hotelbooking.model.Hotel"/>  
		<mapping class="com.hotelbooking.model.HotelInfo"/>
		<mapping class="com.hotelbooking.model.House"/>
		<mapping class="com.hotelbooking.model.HouseInfo"/>
		<mapping class="com.hotelbooking.model.HousePrice"/>
		<mapping class="com.hotelbooking.model.User"/>
		<mapping class="com.hotelbooking.model.OriginOrder"/>
		<mapping class="com.hotelbooking.model.OriginProcess"/>
		<mapping class="com.hotelbooking.model.OriginOrderSearch"/>
		<mapping class="com.hotelbooking.model.UserOrder"/>
		<mapping class="com.hotelbooking.model.AliPayLog"/>
		<mapping class="com.hotelbooking.model.AliRefundLog"/>
		<mapping class="com.hotelbooking.model.AliRefundNotifyLog"/>
		<mapping class="com.hotelbooking.model.Code"/>
          
    </session-factory>
</hibernate-configuration>